body {
    font-family: sans-serif;
    background-color: rgb(193, 193, 193);
}
#game-title {
    font-family: impact, fantasy;
    font-size: 50px;
    text-align: center; 
}

#start-screen-container {
    display: block;
    text-align: center;
}

#selectTeamDropdown {
    display: block;
    padding: 15px;
    margin: 15px auto;
    font-size: 20px;
}

#btn-menu-container, #roster-screen-container, #graduating-players-screen-container, #scout-players-screen-container, #final-cuts-screen-container, #player-progression-screen-container {
    text-align: center;
}

#standings-screen-container, #schedule-screen-container {
    display: flex;
    justify-content: center;
}

.conference-title-standings, .conference-title-schedule {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

#bracket-screen-container {
    display: flex;
    justify-content: left;
}

.bracket-matchup, #champion {
    background: grey;
    padding: 5px; 
    margin: 5px;
    border: 2px solid black;
    max-width: 200px;
}

.bracket-team-top {
    border-bottom: 2px solid black;
}

.bracket-team-bottom {
    border-top: 2px solid black;
}

#scout-players-table, #final-cuts, #select-player-pool, #walk-ons-pool {
    width: 100%;
}

.scout-player-position, .final-cut-position, .player-pool-position {
    width: 20%;
}
.title1 {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

.title2 {
    font-size: 40px;
    font-weight: bold;
}

.title3 {
    font-size: 30px;
    font-weight: bold;
}

.button1 {
    color: black;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.button2 {
    padding: 10px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}